certifi==2016.2.28
cycler==0.10.0
kiwisolver==1.0.1
lru-dict==1.1.6
matplotlib==2.2.2
numpy==1.15.0
pandas==0.23.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
toolz==0.9.0
tqdm==4.24.0
trading-calendars==1.1.0
